
/* EXTERNAL CSS STYLE  */

/* Color Property : Used to set color of foreground - Elements in front */
h1{
    color: orange;
    color: teal;
    color: rebeccapurple;
}

p{
    color: darkgoldenrod;
}

button{
    color: brown;
    background-color: rgb(0, 255, 0);
}

/* BACKGROUND COLOR PROPERTY */
/* Color System RGB SYSTEM */
body{
    background-color: rgb(31, 191,162);
}

/* HEX COLOR SYSTEM --> color: #ff0000 */


/* UNIVERSAL SELECTOR-Used to set same property for the whole webpage

*{
}         
    */

/* ELEMENT SELECTOR - Used to apply property for a particular element which is selected  

h1{

}        
  */

/* ID SELECTOR - Used to give property for the unique id given to any elements, not applicable for multiple elemnts

#headingOne{
}
        */

/* CLASS SELECTOR - Property which is to be given for multiple elements they can be under the same named class ; and that class can define the properties which are applicable to all the elements under that CLASS NAME

.myClass{

}
 */

